/Projects/CppApplication_1/build/
N:/Programming/C++/CppProgramming/Projects/C++_ExeLauncher/C++_ExeLauncher_VS/Debug
N:/Programming/C++/CppProgramming/Projects/C++_ExeLauncher/C++_ExeLauncher_VS/.vs
*.un~
*.un
*.obj
*.*~
*.o
*.lib
*.so
*.dll
*.bin
*.ilk
*.pdb
*.exe
*.out
